
﻿@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Add Role";
}
<table class="table">
    <tr>
        <td align="center" colspan="2">
            <h2> Create User Roles</h2>
        </td>

    </tr>

    <tr>
        <th>
            Roles Available
        </th>
    </tr>
       
    <tr>
        <td>
            <table class="table table-striped">

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                    </tr>}
            </table>
        </td>
        <td align="right" >


            <h3>   @Html.ActionLink("Click to Create New Role", "Create", "Role") </h3>
        </td>
    </tr>
</table>

<table class="table table-striped">
    <tr>
        <th>
           Username
        </th>
        <th>
           Email
        </th>
    

    @foreach (var item in ViewBag.Users)
    {
        <tr>
            <td>
                @item.UserName
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Users",new { Id = item.Id } , null)
                
                @*@Html.ActionLink("Details", "Details", new { id = item.playerID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.playerID })*@
            </td>
        </tr>
    }

</table>
 
