@model BaseballApp.Models.Player

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team1.TeamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team1.TeamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stat.G)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stat.G)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => Model.stat.AB)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stat.R)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => Model.stat.R)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stat.H)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => Model.stat.H)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stat.SecondBase)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => Model.stat.SecondBase)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stat.ThirdBase)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => Model.stat.ThirdBase)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stat.HR)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => Model.stat.HR)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stat.RBI)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => Model.stat.RBI)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stat.BB)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => Model.stat.BB)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stat.K)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => Model.stat.K)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stat.SB)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => Model.stat.SB)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stat.CS)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => Model.stat.CS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stat.AVG)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => Model.stat.AVG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stat.SLG)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => Model.stat.SLG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stat.OBP)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => Model.stat.OBP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stat.OPS)
        </dd>
        <dt>
            @Html.DisplayNameFor(m => Model.stat.OPS)
        </dt>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.playerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
