@model BaseballApp.Models.Team

@{
    ViewBag.Title = "Details";
    
}


<h2>@Html.DisplayFor(model => model.City) @Html.DisplayFor(model => model.TeamName)</h2>

<div class="upcomingGames">
    <table class="table table-striped">
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Position
            </th>
            <th>

            </th>
        </tr>

        @foreach (var player in ViewBag.Players)
        {
            <tr>
                <td>
                    @player.FirstName
                </td>
                <td>
                    @player.LastName
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id=item.Team1 })*@
                    @player.Position
                    @*@Html.ActionLink("Delete", "Delete", new { id=item.Team1 })*@
                </td>
                <td>
                    @Html.ActionLink("View stats", "Details", "Players", new { id = player.playerID }, null)
                </td>
            </tr>
        }
    </table>
</div>
    

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Team1 }) |
    @Html.ActionLink("Back to List", "Index")
</p>
